/* sticky nav */
.sticky {
  position: fixed;
  background-color: #fff;
  opacity: 0.9;
  z-index: 99;
  width: 100%;
}

/* footer  */
footer {
  bottom: 0px;
  background-color: #000;
  width: 100%;
  height: 50px;
  text-align: center;
}

footer p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  color: #E6B101
}

.container {
  padding: 30px;
}

.container p {
  color: black;
}

/* nav */
.navbar-expand-lg .navbar-nav {
  font-size: 25px;
  font-weight: 800;
  padding: 10px 0px 10px;
  color: #000;
}

.navbar a {
  color: #000;
}

a:hover {
  color: #000 !important;
}

.socials ul {
  display: flex;
  list-style-type: none;
  padding-top: 10px;
  justify-content: right;
  font-size: 25px;
}

.socials a {
  color: #000;
}

.mobile-social {
  list-style-type: none;
  display:flex;
  padding-left: 0;
  }
  
  @media only screen and (min-width: 991px) {
    .mobile-social {
      display: none;
    }
  }

  @media only screen and (max-width: 991px) {
    .socials {
      display: none;
    }
  }
  

h1 {
  font-family: "Secular One", sans-serif;
  font-size: 4em;
  margin-bottom: 15px;
  font-weight: 700;
  color: #212529;
}

.whiteh1 {
  color: #fff;
}

h2 {
  font-family: "Secular One", sans-serif;
  font-size: 2em;
  padding-bottom: 0.5em;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

body {
  background-color: #f8f9fa;
}

.password-area {
  text-align: center;
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.inputs {
  display: flex;
  justify-content: center;
}

.inputs label {
  padding: 10px 15px 10px 5px;
}

/* buttons */
.alternatebutton:hover {
  background-color: #ffffff;
  padding: 15px 55px;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.alternatebutton {
  transition-duration: 0.3s;
  background-color: #000;
  color: #E6B101;
  border: 1px solid rgb(255, 255, 255);
}

button {
  background-color: #e59e2300;
  padding: 15px 55px;
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  border-radius: 5px;
}

button:hover {
  transition-duration: 0.5s;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

button p {
  color: #fff;
}

#generatepass {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

#outro h1,
p {
  padding-bottom: 15px;
}

#outro {
  text-align: center;
  padding: 150px 50px;
  background-color: #731dd8;
  position: relative;
}

/* white text */
.whitetext {
  color: white;
  font-size: 1.5rem;
}

#top {
  font-size: 22px;
  z-index: 99;
  padding: 5px 12px 5px 12px;
  border-radius: 10px;
  background-color: #731dd8;
  position: fixed;
  cursor: pointer;
  bottom: 25px;
  right: 25px;
  color: #fff;
  display: none;
}

#top a {
  color: white;
  text-decoration: none;
}


.password-display {
  display: flex;
  justify-content: center;
}

.password-display input[type="text"] {
  padding: 15px 0px 15px;
  width: 55%;
}

.password-display button {
  margin-left: 5px;
}

.copy-button {
  background-color: #fff;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-left: 15px;
}

.copy-button i {
  color: #999;
}

.copy-button:hover i {
  color: #000;

}

  /* banner */
  .small-banner {
    color: #E6B101;
    background-color: #000;
  }

  .small-banner h1 {
    color: #E6B101;
  }

  .small-banner a {
    color: #E6B101;
  }

  .small-banner a:hover {
    color: #fff !important;
  }

  